<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- IISNode specific settings -->
    <iisnode 
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;web.config"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="true"
      promoteServerVars="LOGON_USER"
    />
    
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dashboard\/server.js\/debug[\/]?" />
        </rule>
        <rule name="app">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
        <verbs allowUnlisted="true">
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- Prevent IIS from recycling too aggressively -->
    <applicationPoolDefaults>
      <recycling>
        <periodicRestart time="00:00:00" />
      </recycling>
      <processModel idleTimeout="00:00:00" />
    </applicationPoolDefaults>
  </system.webServer>
</configuration>
